<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Ecommerce Website">
      <%= assigns[:page_title] || "Ecommercewebsite" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 justify-start text-center bg-blue-300 pb-4 pt-4 pr-4">
      <div class="bg-white w-10 h-10 ml-2 p-1 rounded-lg border-black border">
        <a
          href="/"
          class="w-full h-full"
        >
          <img src="/images/home_icon.png" alt="Home Icon" class="w-full h-full"/>
        </a>
      </div>
      <div class="bg-white w-10 h-10 p-1 rounded-lg border-black border">
        <a
          href="/shop"
          class="w-full h-full"
        >
          <img src="/images/search_icon.png" alt="Home Icon" class="w-full h-full"/>
        </a>
      </div>
      <a class = "justify-end ml-auto">
      <%= if @current_user do %>
        <a>
          <.link
          href={~p"/shop/#{@current_user_info.username}"}
          class = "font-bold text-white bg-gray-950 flex justify-center items-center p-4 min-w-24 max-w-48 h-10 rounded-lg"
          >
          <div class="text-ellipsis overflow-hidden whitespace-nowrap">
            My Shop
          </div>

        </.link>
        </a>

        <a>
          <.link
            href={~p"/users/settings"}
            class="font-bold text-white bg-gray-950 flex justify-center items-center p-4 w-24 h-10 rounded-lg"
          >
            Settings
          </.link>
        </a>
        <a>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="font-bold text-black bg-white border border-black flex justify-center items-center p-4 w-24 h-10 rounded-lg"
          >
            Log out
          </.link>
        </a>
      <% else %>
        <a>
          <.link
            href={~p"/users/register"}
            class="font-bold text-white bg-gray-950 flex justify-center items-center p-4 w-24 h-10 rounded-lg"
          >
            Register
          </.link>
        </a>
        <a>
          <.link
            href={~p"/users/log_in"}
            class="font-bold text-black bg-white border border-black flex justify-center items-center p-4 w-24 h-10 rounded-lg"
          >
            Log in
          </.link>
        </a>
      <% end %>
      </a>
    </ul>
    <%= @inner_content %>
  </body>
</html>
